<h2>Добавить покупателя</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div class="mb-3">
    <label for="name" class="form-label">Имя</label>
    <input class="form-control" formControlName="name" id="name" placeholder="Имя..." type="text">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input class="form-control" formControlName="email" id="email" placeholder="Email..." type="email">
  </div>

  <div class="mb-3">
    <label for="mobile" class="form-label">Телефон</label>
    <input class="form-control" formControlName="mobile" id="mobile" placeholder="Телефон..." type="tel">
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Город</label>
    <input class="form-control" formControlName="location" id="location" placeholder="Город..." type="text">
  </div>

  <div class="mb-3">
    <button class="btn btn-info" [disabled]="form.invalid">Сохранить</button>
  </div>

</form>